html {
  background-color: #19181c;
}

form {
  position: absolute;
  display: block;
  background-color: #25262c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
  border-radius: .1em;
  font-family: 'Source Sans Pro', sans-serif;
}
