mat-sidenav-container {
  margin-top: 10px;
  min-height: 550px;
}

mat-sidenav {
  margin-bottom: 10px;
  width: 15%;
  height: 500px;
  border-radius: .2em;
  background-color: #25262c;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
}

mat-sidenav-content {
  margin-left: 15% !important;
}

mat-card {
  margin: 0 10px 8px;
  min-height: 550px;
  background-color: #25262c;
  border-radius: .2em;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000 !important;
}

mat-nav-list {
  width: 90% !important;
  height: 90% !important;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
