<app-mylib-header></app-mylib-header>

<mat-sidenav-container class="example-container">

  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/authors'>Authors</a>
      <a mat-list-item routerLink='/books'>Books</a>
      <a mat-list-item routerLink='/about'>About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
